/* --deep-navy: #050e3cff; 
--prussian-blue: #002455ff;
--cinnabar: #ff3838ff;
--cool-steel: #94a3b8ff;
--ivory: #fffff0ff;
*/
:root {
    --fs-xs: .875rem;
    --fs-sm: 1rem;
    --fs-md: 1.5rem;
    --fs-lg: 2.5rem;
    --fs-xl: 3.5rem;
}
h1,h2,h3,p{
    margin:0;
}
h1, .heading-lg, .name{
    font-size: var(--fs-xl);
}
h2, .section-heading{
    font-size: var(--fs-lg);
}
h3, .section-subhead{
    font-size: var(--fs-md);
}
p, .text-primary{
    font-size: var(--fs-sm);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}
.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    font-size: var(--fs-sm);
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 30px;
}
.section{
    padding: 2rem 4rem;
}
#hero{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading-md{
    font-size: var(--fs-md);
}
.text-primary{
    font-size: var(--fs-sm);
}
.text-code {
    font-family: 'Cascadia Code', monospace;
    font-style: normal;
    font-size: 25px;
}
.bold {
    font-weight: bold;
}
.bold-lt{
    font-weight:lighter;
}

.button-container {
    padding: 10px 0;
}

.btn {
    background-color: #3d405b;
    padding: 9px 11px;
    border-radius: 10px;
    border: none;
    font-family: "Inter", monospace;
    font-size: 10px;
    cursor: pointer;
    font-weight: bolder;
}
.btn:hover {
    background-color: #3d405b;
    transition: 0.3s all;
}

.row-reverse {
    flex-direction: row-reverse;
    padding: 0px 0px 0px 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
}