/* --deep-navy: #050e3cff; 
--prussian-blue: #002455ff;
--cinnabar: #ff3838ff;
--cool-steel: #94a3b8ff;
--ivory: #fffff0ff;
*/
*{
    margin: 0px;
    padding:0;
    background-color:#050e3c;
}
nav{
    display:flex;
    font-family: "Space Grotesk", sans-serif;
    /* font-style: italic; */
    justify-content:space-around;
    background-color: #050e3c;
    padding: 10px 0;
    color: #fffff0;
}
.logo{
    font-size:18px;
    font-weight:bolder;
    /* background-color: #3d405b; */
}
nav ul{
    display:flex;
    gap: 14px;
    position:sticky;
    top:0;
    list-style:none;
    align-items:center;
}
nav ul li{
    font-size:14px;
    color: #fffff0;
}
.hero{
    background-color: #050e3c;
    height: 70vh;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}
.hero-left .name{
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fffff0;;
}
.hero-left .greet{
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
    color: #ff3838ff;
}
.hero-left .tagline{
    font-size: 25px;
    font-family: "Space Grotesk", monospace;
    font-weight: bold lighter;
    color: #fffff0;
}
.code{
    color: #fffff0;
    font-family:'Cascadia Code', monospace;
    font-style: normal;
    font-size: 25px;
}
.hero-left .description{
    font-size: 14px;
    font-family: "Cascadia Code", monospace;
    padding: 10px 20px 0px 0px;
    color: #fffff0;
}
.bold{
    font-weight: bold;
}
.button-container{
    padding: 10px 0;
}
.btn{
    background-color: #ff3838;
    color: #fffff0;
    padding: 9px 11px;
    border-radius:10px;
    border:none;
    font-family: "Inter", monospace;
    font-size: 10px;
    cursor: pointer;
    font-weight: bolder;
}
.btn:hover{
    background-color:#3d405b;
    color: #fffff0;
    transition: 0.3s all;
}
.row-reverse{
    flex-direction: row-reverse;
    padding: 0px 0px 0px 20px;
}
.projects{
    background-color:#f2cc8f;
}
footer{
    background-color: #050e3c;
    color: #fffff0;
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width:950px){
    nav{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
    .hero{
        flex-direction:column;
        text-align: center;
    }
    .project-list{
        flex-direction: column;
        text-align: center;
    }
    .project-item{
        flex-direction:column;
        padding: 10px 0px 10px 0px;
    }
    .project-item h3{
        padding: 10px 0px 5px 0px;
    }
    .project-item img{
        width: 40vw;
        height:40vh
    }

}